<div class="jumbotron text-center">
  <h1>K-Networks</h1>
  <p class="lead"><strong>Free sign-up and join our community now!</strong></p>
  <div>
    <a *ngIf="!authService.loggedIn()" routerLink="/register" class="btn btn-primary">Register</a>
    <a *ngIf="!authService.loggedIn()" routerLink="/login" class="btn btn-default">Login</a>
    <a *ngIf="authService.loggedIn()" routerLink="/blog" class="btn btn-success">Upload Applicants (CSV File)</a>
  </div>
</div>

<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="https://image.flaticon.com/icons/png/128/702/702023.png" alt="placeholder image" width="140" height="140">
      <div class="caption">
        <h3>Francis Kyle</h3>
        <p>Sumbang</p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class=thumbnail> <img src="https://image.flaticon.com/icons/png/128/702/702016.png" alt="Generic placeholder image" width="140" height="140">
      <div class=caption>
        <h3>Charlotte Faye</h3>
        <p>Galarpe</p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class=thumbnail> <img src="https://image.flaticon.com/icons/png/128/701/701990.png" alt="Generic placeholder image" width="140" height="140">
      <div class=caption>
        <h3>Bernadine</h3>
        <p>Juliano</p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class=thumbnail> <img src="https://image.flaticon.com/icons/svg/702/702003.svg" alt="Generic placeholder image" width="140" height="140">
      <div class=caption>
        <h3>Marvin Kenneth</h3>
        <p>Camus</p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class=thumbnail> <img src="https://image.flaticon.com/icons/svg/701/701994.svg" alt="Generic placeholder image" width="140" height="140">
      <div class=caption>
        <h3>John Alfred</h3>
        <p>Villena</p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class=thumbnail> <img src="https://image.flaticon.com/icons/svg/702/702012.svg" alt="Generic placeholder image" width="140" height="140">
      <div class=caption>
        <h3>Alec Mikhail</h3>
        <p>Graza</p>
      </div>
    </div>
  </div>

</div>